/* DietPlan.css */

/* Main Diet Plan Container */
.diet-plan {
    border: 3px solid #c04f22; /* NHS Blue */
    padding: 30px;
    margin: 30px 0;
    border-radius: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    color: black;
}

.diet-plan:hover {
    background-color: #e8e6e6; /* Light gray on hover */
}

/* Meal Plan Container */
.meal-plan {
    display: block;
}

/* Individual Meal Category */
.meal-category {
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    padding: 30px;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif; /* Simpler sans-serif font */
    color: #333;
    background-color: #ffffff;
}

.meal-category:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Meal Category Title */
.meal-category h3 {
    color: #005eb8; /* NHS Blue */
    font-size: 1.8em;
    margin-bottom: 15px;
}

/* Meal List Styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #555;
}

/* Error Message Styling */
.error-message {
    color: #005eb8; /* NHS Blue */
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.4em;
}
