:root {
    --primary-color: #0073a8;
    --secondary-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --brand-font-size: 2.5vw; /* Adjust based on your design */
    --menu-font-size: 1rem;
    --menu-background-color: #0073a8;
    --menu-hover-color: #ffffff;
    --menu-hover-background-color: #004c7f;
    --brand-margin: 0;
    --padding-horizontal: 5vw; /* Adjust based on your design */
    --padding-vertical: 3vh; /* Adjust based on your design */
    --gap: 1.5vw; /* Adjust based on your design */
    --border-radius: 10px;
    --custom-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --animation-duration: 0.3s;
}

body {
    font-family: var(--custom-font);
    margin: 0;
}

.navbar {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding-vertical) var(--padding-horizontal);
    box-shadow: 0px 8px 12px var(--box-shadow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    transition: background-color var(--animation-duration) ease-in-out;
}

.navbar:hover {
    background-color: var(--menu-hover-background-color);
}

.brand h1 {
    margin: var(--brand-margin);
    font-size: var(--brand-font-size);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    transition: color var(--animation-duration) ease-in-out;
    margin-right: 10px;
}

.navbar:hover .brand h1 {
    color: var(--menu-hover-color);
}

.menu-list {
    list-style: none;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

.menu-list a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--menu-font-size);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    transition: color var(--animation-duration) ease-in-out, background-color var(--animation-duration) ease-in-out;
    background-color: var(--menu-background-color);
}

.menu-list a:hover {
    color: var(--menu-hover-color);
    background-color: var(--menu-hover-background-color);
}

/* Media query for screens smaller than 768 pixels (adjust as needed) */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand h1 {
        margin: 10px 0;
        font-size: 5vw; /* Adjust based on your design */
    }

    .menu {
        width: 100%;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-list a {
        width: 100%;
        text-align: center;
        padding: 2vw 3vw; /* Adjust based on your design */
    }
}
